.banner {
	padding: 0;
}

.navbar,
.navbar-inner {
	background: transparent;
}

.navbar-inverse {
	border: 0;
}

.navbar-collapse.collapse.in {
	background-color: #18262f;
}

.navbar.past-banner,
.navbar.past-banner .navbar-inner {
	background-color: #18262f;
}

.content {
	margin-top: 30px;
}

.content h2 {
	margin-bottom: 20px;
}

li.list-group-item {
	margin-bottom: 10px;
}

.tickets {
	width: 45px !important;
}

form {
	margin-bottom: 20px;
}

.table,
.table-responsive {
    margin-top: 10px;
}

.filter .panel {
	padding-top: 10px;
	padding-bottom: 10px;
}

.panel-search-result {
    padding: 10px;
}

dd {
    margin-left: 15px;
}
